body{
    padding: 0;
    margin: 0;
}
.headPage{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navePage{
    display: flex;
    width: 20%;   
    justify-content: space-around;
}


